Excel does the job but it's tedious, and besides we want to eventually deal with gigabytes of data. A programming language such as Python is a great way to speed up things. Python provides a number of packages such as Numpy, Scipy, Pandas, matplotlib and csv package that allow us to deal with all sorts of problems and challenges. 

So, let's dive in!

## Python Basics

Let's go through some common data types and data structure.

In [1]:
a = 2
a

2

In [2]:
a = 2.0
a

2.0

In [3]:
a = '2'
a

'2'

In [4]:
a = True
a

True

In [5]:
l = [4, 2, 3]
l

[4, 2, 3]

Python lists can contain elements with different data type.

In [6]:
l = [1, '3', 2]
l

[1, '3', 2]

 Lists are by far the most commonly used data structure in Python. So, let's see how we can play with them.

In [7]:
l = [1, 2, 3, 4, 5, 6]

In [8]:
l[0]

1

In [9]:
l[-2]

5

In [10]:
l[1:4]

[2, 3, 4]

Let's take a look at list comprehension.

In [11]:
numbers = [1, 2, 3, 4, 5]

In [12]:
[n*n*n for n in numbers]

[1, 8, 27, 64, 125]

In [13]:
t = (1, 2, 3)
t[0]

1

In [14]:
d = {'Usman' : '5373', 'XYZ' : '0000'}

In [15]:
d['Usman']

'5373'

## Reading in `train.csv`

In [16]:
import numpy as np
import csv

In [17]:
csv_file_object = csv.reader(open('data/titanic/train.csv', 'rb'))

Skip first line which is a header.

In [18]:
header = csv_file_object.next()
header

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [19]:
data=[]                          # Create a variable called 'data'.
for row in csv_file_object:      # Run through each row in the csv file,
    data.append(row)             # adding each row to the data variable
data = np.array(data)            # Then convert from a list to an array

In [20]:
data[0]

array(['1', '0', '3', 'Braund, Mr. Owen Harris', 'male', '22', '1', '0',
       'A/5 21171', '7.25', '', 'S'],
      dtype='|S82')

Let's see how many passengers we have in the data.

In [21]:
len(data)

891

How many passengers survived?

In [22]:
np.sum(data[:, 1].astype(float))

342.0

How many passengers were female?

In [23]:
len(data[data[:, 4] == 'female'])

314

Now, let's ask ourselves this: How many survivors were female?

In [24]:
female_mask = data[:, 4] == 'female'
survivor_mask = data[:, 1] == '1'

In [25]:
len(data[female_mask & survivor_mask])

233

This has gotten somewhat complex. In next tutorial, we will investigate Pandas which makes it even easier.

### Create one line code to add 5 to each number in the list [44, 32, 36, 49, 50]

### How many passengers had more than 4 siblings or spouses?

### How many third class passengers had more than 4 siblings or spouses?